$primaryBgColor: rgb(118, 117, 115);
// $cardBorderRadius: 4px;
$colorSvgFill: white;
$titleColor: white;
$listItemColor: rgb(207, 231, 248);

$nameTextcolor: rgb(2, 2, 2);
$allTextColor: rgb(87, 87, 90);

$widthTextContainer: 200px;