{
    "presets": [
        "@babel/preset-env"  //с помощю каких плагинов обработать код
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-async-do-expressions"
    ]
  }
  