<section class="container">
    <h1 class="head-title">Notes</h1>
   <div class="table-head">
       <ul class="table-head-container">
           <li class="table-head-item">Name</li>
           <li class="table-head-item">Created</li>
           <li class="table-head-item">Category</li>
           <li class="table-head-item">Content</li>
           <li class="table-head-item">Dates</li>
       </ul>
       <ul class="category-icons">
<li>
    <button type="button" class="btn-image" >
        <svg class="table-head-svg">
       <use href="../images/sprite.svg#icon-box-addspt"></use>
     </svg>
    </button>
</li>
<li>
    <button type="button" class="btn-image" >
        <svg class="table-head-svg">
       <use href="../images/sprite.svg#icon-bin2spt"></use>
     </svg>
    </button>

</li>
 </ul>
   </div>
   <ul class="notes-list"></ul>
   <button class="add-btn" type="button">Create Note</button>
</section>